@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script>
        function selfToggle(n) {
            $("#" + n).collapse("toggle")
        }
    </script>
}

@section styles {
    <link href="@Url.Content("~/Content/NoSession.css")" rel="stylesheet" type="text/css" />
    <style>
        .table {
            margin: unset !important;
        }
        .cursor-pointer {
            cursor: pointer !important;
        }

        .card-extra {
            border: black 2px solid;
            border-radius: 8px;
            margin: 12px;
            text-align: center;
        }

            .card-extra .big-text {
                font-weight: bold;
                font-size: 32px;
            }

            .card-extra .small-text {
                font-size: 12px;
            }

        .card-body .card-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
}

@if (Session["Role"] == null)
{
    <main>
        <div class="popup">
            <div class="popup-container">
                <h3>Quản lý cửa hàng</h3>
                <div class="login">
                    <a href="@Url.Action("Index", "Login")">Đi đến trang đăng nhập</a>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <h2>Xin chào, @Session["TenNV"]!</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button onclick="selfToggle('collapseOne')" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Thống kê hàng ngày
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="d-flex">
                    <div class="card-body card-extra">
                        Tổng doanh thu
                        <div class="big-text">
                            100,000.00đ
                        </div>
                        <div onclick="selfToggle('collapseDetailDT1')" class="small-text fw-normal user-select-none cursor-pointer">
                            Xem thêm &darr;
                        </div>
                    </div>
                    <div class="card-body card-extra">
                        Tổng số lượng khách hàng
                        <div class="big-text">
                            100 khách
                        </div>
                    </div>
                    <div class="card-body card-extra">
                        Tổng số lịch hẹn
                        <div class="big-text">
                            100
                        </div>
                    </div>
                </div>
                <div id="collapseDetailDT1" class="collapse show">
                    <div class="card-body card-extra">
                        <div onclick="selfToggle('collapseDV')" class="card-body card-detail cursor-pointer">
                            <h3>Doanh thu theo dịch vụ</h3>
                            <div class="big-text">
                                100,000.00đ
                            </div>
                        </div>
                        <div id="collapseDV" class="collapse">
                            <table class="table">
                                <tr>
                                    <th>
                                        Tên dịch vụ
                                    </th>
                                    <th>
                                        Tổng số
                                    </th>
                                    <th>
                                        Tổng thu
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Cắt tóc
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        100,000.00đ
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div onclick="selfToggle('collapseSP')" class="card-body card-detail cursor-pointer">
                            <h3>Doanh thu theo sản phẩm</h3>
                            <div class="big-text">
                                100,000.00đ
                            </div>
                        </div>
                        <div id="collapseSP" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button onclick="selfToggle('collapseTwo')" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button onclick="selfToggle('collapseThree')" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
}

